<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>lighthouse</title>
  </head>
  <body>
    <h1>Lighthouse photos</h1>
    <div class="container">
      <div id='photo'>
        
      </div>

    </div>

  </body>
</html>
